/*all*/
::selection{
	background-color: green;
	color: white;
}
/*
Container class style definition
Container class style writing progress : Not finished
*/
.container{
	font-size: 20px;
	text-align: left;
}
/* 

*/
.centre{
	text-align: center;
}
/*

*/
.gradient-words{
	background-image: linear-gradient(to right, skyblue , purple );
	-webkit-background-clip: text;
	background-clip: text;
	-moz-background-clip: text;
	color: transparent;
	font-size: 30px;
}
.gradient-words-small{
	background-image: linear-gradient(to right, purple , skyblue);
	-webkit-background-clip: text;
	background-clip: text;
	-moz-background-clip: text;
	color: transparent;
	font-size: 30px;
}
/*

*/
.nav{
	text-align: center;
	padding: 20px;
	background-color: #5c6;
	margin: -10px;
}
.nav-a:link{
	padding: 20px;
	background-color: #5c6;
	text-decoration: none;
	color: #fff;
	transition: 0.5s;
}
.nav-a:visited{
	padding: 20px;
	background-color: #5c6;
	text-decoration: none;
	color: #fff;
	transition: 0.5s;
}
.nav-a:hover{
	padding: 20px;
	background-color: #2c6;
	text-decoration: underline;
	color: #fff;
	transition: 0.5s;
}
/*

*/
.cont{
	position: relative;
	top: 20px;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
	background-color: #fff;
	width: 300px;
	height: 100px;
	box-shadow: #5c6 1px 1px 10px 5px ;
	transition: 0.45s;
}
.cont .con{
	display: none;
	transition: 0.45s;
}
.cont:hover{
	position: relative;
	top: 20px;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
	background-color: #fff;
	width: 600px;
	height: 100px;
	box-shadow: #5c6 1px 1px 10px 5px ;
	transition: 0.45s;
}
.cont:hover .con{
	position: relative;
	top: -10px;
	display: block;
	color: #2c6;
	transition: 0.45s;
}
/*

*/
.cot{
	position: relative;
	top: 20px;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
	background-color: #fff;
	width: 650px;
	height: 550px;
	box-shadow: #5c6 1px 1px 10px 5px ;
	transition: 0.45s;
}
.cot .con{
	display: none;
	transition: 0.45s;
}
.cot:hover{
	position: relative;
	top: 20px;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
	background-color: #fff;
	width: 650px;
	height: 550px;
	box-shadow: #5c6 1px 1px 10px 5px ;
	transition: 0.45s;
}
.cot:hover .con{
	position: relative;
	top: -10px;
	display: block;
	color: #2c6;
	transition: 0.45s;
}
/*

*/
.src:link{
	text-decoration: none;
	color: #0f5;
	transition: 0.45s;
}
.src:visited{
	text-decoration: none;
	color: #0f5;
	transition: 0.45s;
}
.src:hover{
	text-decoration: underline;
	color: #0f7;
	transition: 0.45s;
}
.src:hover{
	text-decoration: underline;
	color: #af6;
	transition: 0.45s;
}
